.current-weather {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 0;
        font-size: 34px;
    }

    h2 {
        font-size: 28px;
        margin: 0;
    }
}


@media (max-width: 768px) {
    .current-weather {
        margin: 0 32px;
        width: auto;

        h1 {
            font-size: 28px;
        }

        h2 {
            font-size: 24px;
        }

        .image-container {
            width: 128px;
            height: 128px;
        }
    }

}